<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" showFlags="Date,Time,Extension,Size"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILoginService1" />
        <binding name="BasicHttpBinding_ICheckCardStatus" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/LoginCheckService/Login/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginService1"
        contract="DReferLogin.ILoginService" name="BasicHttpBinding_ILoginService1" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/CheckCardStatus/CheckCardStatus/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICheckCardStatus"
        contract="CheckCardDetails.ICheckCardStatus" name="BasicHttpBinding_ICheckCardStatus" />
    </client>
  </system.serviceModel>
</configuration>